.mo_ldap_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_ldap_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.mo_ldap_help {
	width: 95%;
}
.mo_ldap_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_ldap_support_layout{
       width: 93%;
       background-color:#FFFFFF; 
       border:1px solid #CCCCCC; 
       padding-left:20px; 
}
.mo_ldap_table_layout {
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}

.mo_ldap_table_layout {
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding:0px 24px 10px 20px;
	min-height:360px;
}
.mo_ldap_small_layout{
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding:20px 24px 10px 20px;
	margin-top: 20px;
}
.mo_ldap_container{
	padding:10px;
}
.mo_ldap_support_layout{
	width: 93%;
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding-left:3%;
	padding-right:3%;
}

.mo_ldap_table_layout td strong {
	margin-left: 10px;
}
.col1 {
	width: 20%;
}
.mo_ldap_left {
	overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: inline-block !important;
}
.mo_ldap_right {
	float: right !important;
}
#panel1{
	width: 100%;
}
.fixed {
	width: 75% !important;
}
.mo_ldap_table_textbox {
	width:100%;
	border-radius:4px;
	height:30px;
}
.mo_ldap_settings_table {
	width: 100%;
}

#mo_ldap_note{
	background-color: #d9edf7;
	border-radius: 4px;
	padding: 5px;
	color: #31708f;
}
.button-green{
	background: #95D387 !important;
	color: #ffffff !important;
	border: 1px solid #95D387 !important;
}